.headerLogo {
  height: 80px;
}
.dropdown {
  width: 150px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: cornflowerblue;
  color: white;
  font-style: oblique;
  font-size: medium;
}
.dropdown:hover {
  border-color: orchid;
}
.dropdown option {
  color: white;
}
.dropdown option:hover {
  background-color: blue;
  color: white;
}
