.listHeading,
.dataHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: chocolate;
  font-size: xx-large;
}
.dataHeading {
  color: aquamarine;
}

ul {
  background-color: bisque;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

button.toggle {
  margin-left: 48%;
  background-color: #4889d7;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  column-gap: 10px;
}

.buttons button {
  width: fit-content;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.buttons button.completed {
  background-color: rgb(32, 187, 32);
}

.buttons button.pending {
  background-color: rgb(229, 106, 106);
}
